@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 4;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    transform: translateY(-100vh);

    .choices {
        color: var(--white);
        font-size: 32px;
        letter-spacing: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: center;
        margin-right: 50px; 
        margin-left: auto;

        span {
            margin: 15px 0;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0);
            padding: 15px;

            &:hover {
                border: 1px solid var(--white);
            }
        }
    }

    .separator {
        border-left: 3px solid var(--white);
        height: 70vh;
        align-self: center;
        margin-right: 15%;
    }
}

.open {
    transition: all 0.4s ease-in-out;
    transform: translateY(0);
}

.close {
    transition: all 1s ease-in-out;
    transform: translateY(-100vh);
}


.el-1.slide-in{
    animation: slide-in 0.4s linear 0.2s both;
}
.el-2.slide-in{
    animation: slide-in 0.4s linear 0.4s both;
}
.el-3.slide-in{
    animation: slide-in 0.4s linear 0.6s both;
}
.el-4.slide-in{
    animation: slide-in 0.4s linear 0.8s both;
}
.el-5.slide-in{
    animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
    from {
        transform: translateX(-50vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.el-1.slide-out{
    animation: slide-out 0.4s linear 0.75s both;
}
.el-2.slide-out{
    animation: slide-out 0.4s linear 0.6s both;
}
.el-3.slide-out{
    animation: slide-out 0.4s linear 0.45s both;
}
.el-4.slide-out{
    animation: slide-out 0.4s linear 0.3s both;
}
.el-5.slide-out{
    animation: slide-out 0.4s linear 0.15s both;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-50vw);
        opacity: 0;
    }
}