button {
    background-color: #ad985f;
    border: none;
    outline: none;
    color: white;
    padding: 0.5rem 1.5rem;
    transition: 300ms background-color ease-in, 300ms box-shadow ease-in, 300ms transform ease-in, 300ms color ease-in;
    transform-origin: 50% bottom;
    font-size: 16px;
    display: inline-block;
    border-radius: 0.25rem;
    line-height: 1.5;
    cursor: pointer;
}

button:hover{
    background-color: #80734d;
    transform: scale(1.1);
}