/* Footer */
footer {
    display: flex;
    justify-content:space-between;
    color: white;
    background-color: #261e1c;
    text-align: center;
    bottom: 0;
    width: 100%;
    position:inherit;
    box-shadow: 0 5px 10px rgb(38 30 28 / 0%);
    padding: 1.5rem 10rem !important;
}

footer .logo {
    text-align: left !important;
}

footer p {
    color: #ad985f;
    text-align: center;
    font-size: .75rem;
}

.location {
    align-items: center;
}

.location label {
    color: #807e7d;
}