.menu-navbar {
    display: flex;
    margin-top: 80px;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    padding: 40px 20px;
    background-color: transparent;
    border-radius: 50px;
    height: 100vh;
    width: 100%;
  }