@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ad985f' fill-opacity='0.15'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

h1 {
    text-transform: uppercase;
}

/* Header */
header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: white;
    background-color: #261e1c;
    border-bottom: 1px solid transparent;
    box-shadow: 0 5px 10px rgb(38 30 28 / 0%);
    width: 100%;
    z-index: 100;
    padding: 1rem 10rem;
    position: sticky;
    top:0
}

.logo {
    font-size: 1.5rem;
    margin: .5rem;
    cursor: pointer;
}

.navbar {
    display: inline-flex;
    align-items: center;
}

.navbar-link ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-link li {
    list-style: none;
    cursor: pointer;
}

.navbar-link li a {
    text-decoration: none;
    color: #ad985f;
    padding: 1rem;
    display: block;
}

.navbar-link li a:hover {
    filter: brightness(75%);
}

.navbar-link li a:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ad985f;
    content: "";
    display: block;
    height: 1px;
    width: 0;
    
}
.navbar-link li a:hover:after {
    width: 100%;
}

button {
    background-color: #ad985f;
    border: none;
    outline: none;
    color: white;
    padding: 0.5rem 1.5rem;
    transition: 300ms background-color ease-in, 300ms box-shadow ease-in, 300ms transform ease-in, 300ms color ease-in;
    transform-origin: 50% bottom;
    font-size: 16px;
    display: inline-block;
    border-radius: 0.25rem;
    line-height: 1.5;
    cursor: pointer;
}

button:hover{
    background-color: #80734d;
    transform: scale(1.1);
}

/* Banner */
.banner {
    height: 100vh;
    width: 100%;
    background: black;
}
.banner img:first-child {
    height: 100%;
    width: 100%;
    animation: fadeIn 2s;
    filter: brightness(50%);
} 

.homeBanner {
    filter: brightness(100%) !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {
    color: white;
    font-size: calc(1.4375rem + 2.25vw);
    text-shadow: 1px 1px rgb(0 0 0 / 40%);
}

/* MainInfo */
.split {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    color: #261e1c;
}

.split div {
    float: left;
    margin: auto 10px;
    width: 40%;
    padding: 10px;
    align-items: center;
}

.food-image {
    display: flex;
    justify-content: center;
}

.split img {
    height: 400px;
    width: 300px;
    float: center;
}

/* Footer */
footer {
    display: flex;
    justify-content:space-between;
    color: white;
    background-color: #261e1c;
    text-align: center;
    bottom: 0;
    width: 100%;
    position:inherit;
    box-shadow: 0 5px 10px rgb(38 30 28 / 0%);
    padding: 1.5rem 10rem !important;
}

footer .logo {
    text-align: left !important;
}

footer p {
    color: #ad985f;
    text-align: center;
    font-size: .75rem;
}

.location {
    align-items: center;
}

.location label {
    color: #807e7d;
}

/* Other */

@keyframes fadeIn {
    0% {opacity:0.5;}
    100% {opacity:1;}
  }

@media (max-width: 400px) {
    .navbar-link {display: none;}
}

