@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.about-us-wrapper {
    box-sizing: border-box;
    display: block;

    .top {
        height: 100vh;

        .menu-icon {
            width: 50px;
            height: 30px;
            position: fixed;
            z-index: 5;
            top: 1.5em;
            right: 1.5em;
            mix-blend-mode: difference;
        }

    }
}


.title {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3rem;
    color: var(--white);
    text-align: center;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    animation: fade-in 1.2s linear;

    h1 {
        font-size: 52px;
        margin-bottom: -1rem;
        text-transform: uppercase;
        font-weight: 300;
        display: contents;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}