@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.home-info-button {
    width: 110px;
    height: 40px;
    background-color: var(--gold);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    &:hover {
        filter: opacity(0.9)
    }
}