.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    filter: brightness(45%);
}

.home-bg {
    background-image: url(../../../images/backgrounds/main_banner.jpg);
}

.menu-bg {
    background-image: url(../../../images/backgrounds/menu_banner.jpg);
}

.gallery-bg {
    background-image: url(../../../images/backgrounds/gallery_banner.jpg);
}

.about-bg {
    background-image: url(../../../images/backgrounds/about_banner.jpg);
}

.events-bg {
    background-image: url(../../../images/backgrounds/events_banner.jpg);
}