@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.info-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    position: relative;

    .left-wrapper {
        height: 100vh;
        width: 50vw;
        display: flex;
        align-items: center;
        .description {
            color: var(--black);
            font-family: 'Montserrat', sans-serif;
            display: grid;
            width: 60%;
            margin: auto;

            .info-title {
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-size: 20px;
                font-weight: bold;
                color: var(--black);
                margin-bottom: 10px;
                width: 90%;
            }
    
            .info-subtitle {
                font-size: 18px;
                opacity: 0.6;
                margin-bottom: 10px;
            }
        }
    }
    

    .separator {
        border-left: 2px solid var(--green);
        height: 70%;
        position: absolute;
    }

    .right-wrapper {
        height: 100vh;
        width: 50vw;
        display: flex;

        .info-image {
            height: 70%;
            margin: auto;
        }
    }
    
}